<!--this is the footer partial that we will put so that we can make the code as DRY as possible-->
<% include partials/header %>

<!--ADD CUSTOM CODE HERE-->

<h1><center>This is the landing page</center></h1>
<h4><a href="/campgrounds"><center>View All Campgrounds</center></a></h4>

<!--this is the footer partial that we will put so that we can make the code as DRY as possible-->
<% include partials/footer %>