<% include ./partials/header %> <!--./ represents inside the same folder-->

<h1><center>Login page!!</center></h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Login!</button> 
</form>

<% include ./partials/footer %> <!--./ represents inside the same folder-->